@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Nunito+Sans:wght@400;600;700&family=Ropa+Sans&display=swap");

:root {
  font-size: 100%;
  --color-skin: #f7efee;
  --color-blueberry-dark: #0b2149;
  --color-blueberry-grey: #81889b;

  --font-title: "Ropa Sans", sans-serif;
  --font-sub: "Nunito Sans", cursive;
  /* Title Fonts */
  /* font-family: "Ropa Sans", sans-serif; */
  /* Subtitle font */
  /* font-family: "Bebas Neue", cursive; */
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  /* Content font (default) */
  font-family: "ABeeZee", sans-serif;
  background-color: var(--color-skin);
}

.font-title {
  font-family: var(--font-title);
}

.font-subtitle {
  font-family: var(--font-sub);
}

.root-layout {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.button {
  text-decoration: none;
  padding: 1em 2em;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  border-radius: 0.25em;
  transition: color 150ms ease-in-out;
}

.button-primary {
  background-color: var(--color-blueberry-dark);
  color: var(--color-skin);
  outline: solid 3px var(--color-blueberry-dark);
}
.button-primary:hover {
  background-color: var(--color-skin);
  color: var(--color-blueberry-dark);
}

.button-secondary {
  background-color: var(--color-skin);
  color: var(--color-blueberry-dark);
  outline: solid 3px var(--color-blueberry-dark);
  transition: all 150ms ease-in-out;
}

.button-secondary:hover {
  background-color: var(--color-blueberry-dark);
  color: var(--color-skin);
  outline-offset: 4px;
}

.button-invert {
  background-color: var(--color-skin);
  color: var(--color-blueberry-dark);
  outline: solid 2px var(--color-skin);
}

.button-invert:hover {
  background-color: var(--color-blueberry-dark);
  color: var(--color-skin);
}

a {
  color: var(--color-blueberry-dark);
  transition: color 150ms ease-in-out;
}

a:hover {
  color: var(--color-blueberry-grey);
}

header {
  position: sticky;
  width: 100%;
  margin: 0 auto;
  background-color: var(--color-skin);
  display: flex;
  min-height: 125px;
}

header > div {
  margin: 0 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header .wrapper input[type="checkbox"] {
  display: none;
}

header .wrapper nav {
  display: flex;
  gap: 1em;
}

header .wrapper nav a {
  font-family: var(--font-sub);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: column;
}

footer div:first-child {
  background-color: var(--color-blueberry-dark);
  color: var(--color-skin);
  padding: 2em 2em;
  gap: 0.5em;
  display: flex;
  align-items: center;
  min-height: 25vh;
}

footer div:first-child section:first-child {
  display: flex;
  flex-direction: column;
}

footer div:first-child h2 {
  font-size: 2rem;
}

footer div:last-child {
  color: var(--color-blueberry-dark);
  background-color: var(--color-skin);
  height: fit-content;
  padding: 2em 2em;
  display: flex;
  gap: 1em 4em;
}

@media screen and (max-width: 720px) {
  header .wrapper input[type="checkbox"] {
    display: block;
  }

  header nav {
    flex-direction: column;
    position: absolute;
    top: 125px;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    /* TODO: make toogle navbar using checkbox, it's still buggy actually */
    /* height: calc(100vh - 125px); */
    padding: 2em 4em;
    transition: all 150ms ease;
    background-color: var(--color-skin);
    font-size: xx-large;
  }
}

@media screen and (max-width: 450px) {
  .button {
    padding: 1em 0.5em;
    width: 100%;
    max-width: 100%;
  }

  footer div:last-child,
  footer div:first-child {
    flex-direction: column;
    justify-content: center;
  }
}
